# Jupyter & Python caches
.ipynb_checkpoints/
__pycache__/
.DS_Store
.env

# Ignore all data (raw + processed) – lives only on server
/data/

# Optional: keep these scratch paths ignored too
notebooks/Sergei/datasets/AMEX_NYSE_NASDAQ_stock_histories/AMEX_NYSE_NASDAQ_stock_histories/full_history/
notebooks/Sergei/datasets/AMEX_NYSE_NASDAQ_stock_histories/AMEX_NYSE_NASDAQ_stock_histories/fh_5yrs.csv
/notebooks/Dominik/Notebooks/*.ipynb
